@import 'tailwindcss';

@plugin '@tailwindcss/forms';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility btn {
    @apply flex items-center justify-center rounded-md h-max border px-4 py-2 text-center text-sm font-semibold transition-all duration-300 ease-in-out dark:border-gray-700;
}

/* custom scrollbar .xterm-viewport */

.xterm-viewport {
    scrollbar-width: thin;
    scrollbar-color: #6d7993 #1a202c;
    border-radius: 6px;
}

.xterm-viewport::-webkit-scrollbar {
    width: 6px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #6d7993;
    border-radius: 6px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background-color: #1a202c;
}
.xterm-screen {
    padding-left: 10px;
}

body {
    height: 100vh;
    overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
